<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">
 
	<!-- Managing authentication and roles with Spring Security -->
	<http auto-config="true">
		<intercept-url pattern="/restart" access="ROLE_ADMIN" />
		<intercept-url pattern="/users/add" access="ROLE_ADMIN" />
		<intercept-url pattern="/clearAllData" access="ROLE_ADMIN" />
		<intercept-url pattern="/forceNight" access="ROLE_ADMIN" />
		<intercept-url pattern="/players/full/*" access="ROLE_ADMIN" />
		<intercept-url pattern="/*" access="ROLE_USER" />
	</http>
 
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="securityService" >
			<password-encoder hash="plaintext" />
		</authentication-provider>
	</authentication-manager>
 
</beans:beans>